In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
import datetime
import os

In [5]:
IR_path = '/home3/r05322021/Desktop/FB Data/hate_crime_data/IR/'
BH_path = '/home3/r05322021/Desktop/FB Data/hate_crime_data/BH/'

In [7]:
IR_df = []
BH_df = []
for f in ['2015', '2016', '2017']:
    IR_name = IR_path + f + '.csv'
    BH_name = BH_path + f + '.csv'
    IR = pd.read_csv(IR_name)
    IR['year'] = int(f)
    BH = pd.read_csv(BH_name)
    BH['year'] = int(f)
    IR_df.append(IR)
    BH_df.append(BH)

In [8]:
IR = pd.concat(IR_df, axis=0)
BH = pd.concat(BH_df, axis=0)

In [12]:
df = pd.merge(IR, BH, on=['agency', 'year'], how='left')

In [56]:
df = df[df.date >= 20150503]
df

,state,agency,ID,date,source,quarter,number_of_victims,total_offenders,offenders_race,offense_type,...,motivation,victim_type,year,city,population_group,country_division,country_region,agency_indicator,core_city,population
1,1,AL0010200,5F10-1A0U75S,20150618,F,2,1,2,B,290,...,11,I,2015,BIRMINGHAM,2,6,3,1,Y,210515
2,1,AL0010200,5F10-1K5ZW2S,20150715,F,3,1,1,B,290,...,41,I,2015,BIRMINGHAM,2,6,3,1,Y,210515
3,1,AL0010200,5F10-28N4L6S,20151107,F,4,1,0,U,13B,...,12,I,2015,BIRMINGHAM,2,6,3,1,Y,210515
4,1,AL0010200,5F10-29P4Y-S,20151126,F,4,2,1,B,13B,...,41,I,2015,BIRMINGHAM,2,6,3,1,Y,210515
6,1,AL0011200,2W1U0U7OZG8,20150718,N,3,1,1,W,13C,...,12,I,2015,HOOVER,3,6,3,1,Y,60648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19141,49,WY0170100,7VPIYARO6U72,20170920,F,3,1,1,W,13B,...,41,I,2017,SHERIDAN,5,8,4,1,N,18036
19142,50,AKAST0100,AO1N0KZN7L1A,20170504,F,2,0,0,U,290,...,82,,2017,WASILLA,8A,9,4,4,N,263873
19143,50,AK0010100,EN-6XN851AEM,20171029,F,4,1,1,B,13A,...,11,I,2017,ANCHORAGE,1C,9,4,1,Y,296188
19144,50,AK0010300,CP103E97UFCT,20171024,F,4,0,0,U,290,...,15,,2017,JUNEAU,4,9,4,1,N,32344
19145,50,AK0010300,3Z1X2I8ZLD39,20171222,F,4,1,1,I,13B,...,11,I,2017,JUNEAU,4,9,4,1,N,32344

In [57]:
df['week'] = df['date'].apply(lambda x: np.floor((datetime.datetime.strptime(str(x), '%Y%m%d').date() - datetime.date(2015,5,3)).days / 7))

/home3/r05322021/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [79]:
state_code = pd.read_csv('/home3/r05322021/Desktop/FB Data/hate_crime_data/clean_data/hate_crime.csv', usecols=['state', 'state_name'])
state_code = state_code.drop_duplicates('state')

In [80]:
df = pd.merge(df, state_code, on='state', how='inner')

In [86]:
df['week'] = df['week'] + 1

In [89]:
df.to_csv('/home3/r05322021/Desktop/FB Data/hate_crime_data/clean_data/hate_crime.csv', index=False)